<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--TODO impl javascript:void(0) on inactive links and make inactive classes (on current page)-->
<!-- header fragment uses thymeleaf security, bootstrap-js and bootstrap-css -->
<nav th:fragment="header" class="sc-header navbar navbar-dark bg-dark">
    <div class="sc-header-menu">
        <a class="sc-header-text" href="#" th:href="@{${T(com.ermakov.nikita.ControllerPath).ROOT}}">
            <h1 class="sc-header-text">Smoke Cloud</h1>
        </a>
        <a sec:authorize="hasAuthority('READ')"
           class="sc-header-text" href="#" th:href="@{${T(com.ermakov.nikita.ControllerPath).PROFILE}}">
            <h2 class="sc-header-text" th:text="#{header.profile.link}">Profile</h2>
        </a>

        <!--todo impl later-->
        <a sec:authorize="hasAuthority('READ')"
           class="sc-header-text" href="#" th:href="'#'">
            <h2 class="sc-header-text" th:text="'todo'">Friends</h2>
        </a>
        <a sec:authorize="hasAuthority('READ')"
           class="sc-header-text" href="#" th:href="'#'">
            <h2 class="sc-header-text" th:text="'todo'">Chat</h2>
        </a>
    </div>

    <div class="dropdown lang">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                th:text="#{header.lang.change}">Change language
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="?lang=ru">Русский</a>
            <a class="dropdown-item" href="?lang=en">English</a>
        </div>
    </div>
</nav>

<nav th:fragment="footer" class="sc-footer navbar navbar-dark bg-dark">
    <div class="sc-footer-div">
        <h4 class="sc-footer-text">Smoke cloud. 2020</h4>
    </div>
</nav>
</html>