<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/register}" th:object="${registerForm}" method="post">
    <div>
        <label th:text="${'Username'}"></label>
        <input th:field="*{username}"/>
        <p style="color: red"
           th:each="error : ${#fields.errors('username')}"
           th:text="${error}"></p>
    </div>
    <div>
        <label th:text="${'First name'}"></label>
        <input style="text-transform: capitalize" th:field="*{firstName}"/>
        <p style="color: red"
           th:each="error : ${#fields.errors('firstName')}"
           th:text="${error}"></p>
    </div>
    <div>
        <label th:text="${'Last Name'}"></label>
        <input style="text-transform: capitalize" th:field="*{lastName}"/>
        <p style="color: red"
           th:each="error : ${#fields.errors('lastName')}"
           th:text="${error}"></p>
    </div>
    <div>
        <label th:text="${'Middle Name'}"></label>
        <input style="text-transform: capitalize" th:field="*{middleName}"/>
        <p style="color: red"
           th:each="error : ${#fields.errors('middleName')}"
           th:text="${error}"></p>
    </div>
    <div>
        <label th:text="${'Password'}"></label>
        <input type="password" th:field="*{password}"/>
        <p style="color: red"
           th:each="error : ${#fields.errors('password')}"
           th:text="${error}"></p>
    </div>
    <div>
        <label th:text="${'Confirm Password'}"></label>
        <input type="password" th:field="*{confirmPassword}"/>
        <p style="color: red"
           th:each="error : ${#fields.errors('confirmPassword')}"
           th:text="${error}"></p>
    </div>
    <button type="submit" th:text="${'Register'}">Register</button>
</form>
<p style="color: red" th:if="${registerError != null}" th:text="${registerError}"></p>
<a th:href="@{/login}" th:text="${''}">Back to login page</a>
</body>
</html>